.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 40, 40);
    padding: 0 1em;

}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: visible;
}

.header a {
    text-decoration: none;
    color: white;
    padding: .6em;
    margin: .3em;
    
}

.header a:hover {
    background-color: grey;
}

.header img {
    max-width: 7em;
    margin: 2em;
}


@media (max-width: 500px) {
    .header ul {
        display: none;
    }
}