.start {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.start p {
    font-size: 1.5em;
    margin: 0;
}

.start h1 {
    font-size: 4em;
    margin: 0;
}

.start img {
    max-width: 30em;
    width: 100%;
}

@media (max-width: 1399px) {
    .start {
        justify-content: center;
    }
}


